In [9]:
import pandas as pd
import numpy as np

In [10]:
posting_df = pd.read_csv("postings.csv")

In [11]:
posting_df.isnull().sum()

job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
dtype: int64

In [12]:
# Impute categorical columns with the mode
categorical_cols = ['company_name', 'pay_period', 'formatted_work_type', 'remote_allowed', 'currency', 'compensation_type']
for col in categorical_cols:
    posting_df[col].fillna(posting_df[col].mode()[0], inplace=True)

In [13]:
posting_df.isnull().sum()

job_id                             0
company_name                       0
title                              0
description                        7
max_salary                     94056
pay_period                         0
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                     0
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                           0
compensation_type                  0
dtype: int64

In [14]:
columns_to_keep = ['med_salary', 'min_salary', 'max_salary']
columns_to_drop = [col for col in posting_df.select_dtypes(include=[np.number]).columns if col not in columns_to_keep]
posting_df.drop(columns=columns_to_drop, inplace=True)

In [15]:
numerical_cols = ['max_salary', 'min_salary', 'med_salary']
for col in numerical_cols:
    posting_df[col].fillna(posting_df[col].median(), inplace=True)

In [18]:
# Impute categorical columns with the mode
categorical_cols = ['company_name', 'pay_period', 'formatted_work_type','currency', 'compensation_type']
for col in categorical_cols:
    posting_df[col].fillna(posting_df[col].mode()[0], inplace=True)

In [19]:
posting_df.isnull().sum()

company_name                       0
title                              0
description                        7
max_salary                         0
pay_period                         0
location                           0
med_salary                         0
min_salary                         0
formatted_work_type                0
job_posting_url                    0
application_url                36665
application_type                   0
formatted_experience_level     29409
skills_desc                   121410
posting_domain                 39968
work_type                          0
currency                           0
compensation_type                  0
dtype: int64

In [13]:
posting_df.drop(columns=["application_url", "formatted_experience_level", "skills_desc","posting_domain", "job_posting_url"], inplace=True)

In [15]:
posting_df

,company_name,title,description,max_salary,pay_period,location,med_salary,min_salary,formatted_work_type,application_type,work_type,currency,compensation_type
0,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",25.5,17.0,Full-time,ComplexOnsiteApply,FULL_TIME,USD,BASE_SALARY
1,Liberty Healthcare and Rehabilitation Services,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",25.5,30.0,Full-time,ComplexOnsiteApply,FULL_TIME,USD,BASE_SALARY
2,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",25.5,45000.0,Full-time,ComplexOnsiteApply,FULL_TIME,USD,BASE_SALARY
3,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",25.5,140000.0,Full-time,ComplexOnsiteApply,FULL_TIME,USD,BASE_SALARY
4,Liberty Healthcare and Rehabilitation Services,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",25.5,60000.0,Full-time,ComplexOnsiteApply,FULL_TIME,USD,BASE_SALARY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,Lozano Smith,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,195000.0,YEARLY,"Walnut Creek, CA",25.5,120000.0,Full-time,ComplexOnsiteApply,FULL_TIME,USD,BASE_SALARY
123845,Pinterest,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,80000.0,YEARLY,United States,25.5,60000.0,Full-time,OffsiteApply,FULL_TIME,USD,BASE_SALARY
123846,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,80000.0,YEARLY,"Spokane, WA",25.5,60000.0,Full-time,OffsiteApply,FULL_TIME,USD,BASE_SALARY
123847,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,80000.0,YEARLY,"Texas, United States",25.5,60000.0,Full-time,ComplexOnsiteApply,FULL_TIME,USD,BASE_SALARY
123848,Solugenix,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,75000.0,YEARLY,"San Juan Capistrano, CA",25.5,70000.0,Full-time,ComplexOnsiteApply,FULL_TIME,USD,BASE_SALARY

In [16]:
posting_df.to_csv('postings_cleaned.csv', index=False)